body{
    background-image: url("../img/traffic.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
    text-align: center;
}

.selected-map{
    border-radius: 8%;
    border: 6px solid black;
}

.vars-category{
    box-shadow: 1px 2px rgb(255 0 0 / 0.2);
    background-color:#ffe4c4c0;
    /* background-color: rgba(255, 0, 0, 1); */
    border: 1px solid;
    border-color: coral;
    border-radius: 8px;
    margin: 1% 2% 1% 2%;
    padding: 1%;
}

.vars-category *{
    margin: 2px;
}

.vars-category label{
    margin-left: 1%;
    font-weight: bold;
}


#slider-range {
    height: .4em;
    width: 300px !important;
    border-width: 3px;
    margin-top: 5px;
    margin-bottom: 10px;
}


#button{
    text-align: center;

}

#api-post{
    text-align: center;
    font-size: 30px;;
    border-radius: 8px;
    border: 1px solid coral;
    background-color:#ffe4c4;
}

button {
    background-color: white; 
    color: #ee6e50; 
    border: 2px solid coral;
    border-radius: 8px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}


/* fix hover */
button:hover {
background-color: #ffe4c4c0;
color: black;
}

#gallery-container{
    display: flex;
    justify-content: space-around;
}

#gallery-container img{
    display: block;
    width: 20%;
    height: 100%;
}


.ui-widget-header {
	border: 1px solid dodgerblue !important;
	background: dodgerblue !important;
	color: red !important;
	font-weight: bold;
    margin-top: -0.8px;
}

.ui-widget-content {
    border-radius: 10px;
	border: 1px solid red;
	background: #f0ecec;
	color: red;
    height: 5px;
    padding-top: px;
}

.ui-slider-handle{
    width: .75em !important;
    height: .75em !important;
}