body{
    background-image: url("../img/traffic.jpg");

}

h1{
    text-align: center;
}

.selected-map{
    border-radius: 8%;
    border: 4px solid white;
}

.vars-category{
    box-shadow: 1px 2px rgb(255 0 0 / 0.2);
    background-color:#ffe4c4c0;
    /* background-color: rgba(255, 0, 0, 1); */
    border: 1px solid;
    border-color: coral;
    border-radius: 8px;
    margin: 1% 2% 1% 2%;
    padding: 1%;
}

.vars-category *{
    margin: 2px;
}

.vars-category label{
    margin-left: 1%;
    font-weight: bold;
}

#button{
    text-align: center;
}

button {
    background-color: white; 
    color: #ee6e50; 
    border: 2px solid coral;
    border-radius: 8px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}


/* fix hover */
button:hover {
background-color: #ffe4c4c0;
color: black;
}

#gallery-container{
    display: flex;
    justify-content: space-around;
}

#gallery-container img{
    display: block;
    width: 20%;
    height: 100%;
}