*
{
    margin: 0;
    padding: 0;
}

#homeButton{
    text-decoration: none;
    font-size: 200%;
}


html,
body
{
    background-color: #000;
    height: 100vh;
    font-family: 'Poppins';
}

body {
    display: flex;
    margin: 0;
    flex-direction: column;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#container {
    display: flex;
    justify-content: space-around;
    z-index: 10;
    margin-left: 2%;
    padding-top: 6%;
    color: white;
    width: 100%;
    
}

button {
    background-color: white; 
    color: black; 
    border: 2px solid #1e90ff;
    border-radius: 8px;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
background-color: #1e90ff;
color: white;
}

#s0, #s1{
    text-align: center;
}