*
{
    margin: 0;
    padding: 0;
}

a{
    color: white;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
}

body {
    display: flex;
    margin: 0;
    flex-direction: column;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#container {
    z-index: 10;
    margin-left: 2%;
    margin-top: 100px;
    color: white;
    justify-content: space-between;
    width: 60%;
}

#s0 {
    z-index: 10;
    margin-top: 100px;
    color: white;
    justify-content: space-between;
    width: 60%;
}

#s1 {
    z-index: 10;
    margin-top: 100px;
    color: white;
    justify-content: space-between;
    width: 60%;
}


#s2 {
    z-index: 10;
    margin-top: 100px;
    color: white;
    justify-content: space-between;
    width: 60%;
    /* display: flex; */
    
}